body{
  padding: 0;
  margin: 0;
}

.grid-container{
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 100px 1fr auto;
  grid-template-areas:  
    "header header"
    "sidebar container"
    "footer footer";
    min-height: 100vh;
}

.header{
  grid-area: header;
  background-color: #13a4a4;
  display: flex;
  justify-content: center;
}

.sidebar{
  grid-area: sidebar;
  background-color: rgb( 234, 224, 250);
  z-index: 1;
}

.main-container{
  grid-area: container;
}

.footer{
  grid-area: footer;
  background-color: #1b2838;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  color: white;
}

.icons{
  width: 70px;
}

.logo{
  height: 100%;
}

.box{
  width: 400px;
  height: 345px;
  background-color: rgb( 234, 224, 250);
  padding: 20px;
  margin: 30px;
  border-radius: 5px;
  border: solid 1px rgb(250, 216, 243);
  img{
    width: 100%;
    height: auto;
  }
}

.inicial__boton{
  @extend .button-pro
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  }
}

.menu-container{
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  .menu{
    display: inline-block;
    position: relative;
    font-size: 14px;
    background-color: #13a4a4;
    padding: 5px;
    border-radius: 3px;
    margin: 5px;
    &:hover{
      .sub-menu{
        display: block;
      }      
    }
  }  

  .sub-menu{
    list-style: none;
    display: none;
    position: absolute;
    top: 0%;
    left: 100%;
    background-color: rgb(252, 251, 156) ;
    .sub-menu-item{
      font-size: 18px;
    }
  }

  a{
    color: white;
    text-decoration: none;
    text-align: center;
    display: block;
    font-size: 20px;
  }
}

.product-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.button-pro{
  background-color: #57cdcd;
  border: none;
  &:hover{
    background-color:rgb(252, 251, 156) ;
  }
}

.header-category{
  font-weight: 600;
  line-height: 100%;
  margin-top: 15px;
  position: relative;
  text-align: center;
  text-transform: none;
  color: #999;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-category{
  font-size: 30px;
}

.menu-burger{
  display: none;
}

@media (max-width:768px){
  .box{
    background-color: rgb( 234, 224, 250);
    margin: 30px 0;
  }
  .grid-container{
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr auto;
    grid-template-areas:  
      "header"
      "container"
      "footer";
  }

  .sidebar{
    display: none;
  }
  
  .menu-burger{
    display: block;
  }

  .header{
    align-content: space-between;
    justify-content: space-around;
    align-items: center;
  }
  
}
@media (max-width:590px){
  .box{
    width: 330px;
    background-color: rgb( 234, 224, 250);
  }
}

