$color-boton: #57cdcd;

$box: (
  width: 400px,
  height: 345px,
  background-color: rgb( 234, 224, 250),
  padding: 20px,
  margin: 30px,
  border-radius: 5px,
  border: solid 1px rgb(250, 216, 243)
  )