body{
  padding: 0;
  margin: 0;
}
.grid-container{
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 100px 1fr auto;
  grid-template-areas:  
    "header header"
    "sidebar container"
    "footer footer";
    min-height: 100vh;
}

.header{
  grid-area: header;
  background-color: #13a4a4;
  display: flex;
  justify-content: center;
}

.sidebar{
  grid-area: sidebar;
  background-color: rgb( 234, 224, 250);
  z-index: 1;
}

.container{
  grid-area: container;
}

.footer{
  grid-area: footer;
  background-color: #1b2838;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  color: white;
}

.icons{
  width: 70px;
}

.logo{
  height: 100%;
}

.box{
  width: 400px;
  height: 345px;
  background-color: rgb( 234, 224, 250);
  padding: 20px;
  margin: 30px;
  border-radius: 5px;
  border: solid 1px rgb(250, 216, 243);
  overflow: auto;
}
.box img{
  width: 100%;
  height: auto;
}
.inicial__boton{
  background-color: #13a4a4;
}

.menu-container{
  padding: 0 15px;
  display: flex;
  flex-direction: column;
}

.menu-container .menu{
  display: inline-block;
  position: relative;
  font-size: 14px;
  background-color: #13a4a4;
  padding: 5px;
  border-radius: 3px;
  margin: 5px;
}

.menu-container .sub-menu{
  list-style: none;
  display: none;
  position: absolute;
  top: 0%;
  left: 100%;
  background-color: #f8facf;
}

.menu-container .menu:hover .sub-menu{
  display: block;

}

.sub-menu-item{
  font-size: 18px;
}

.menu-container a{
  color: white;
  text-decoration: none;
  text-align: center;
  display: block;
  font-size: 20px;
}

.product-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product{
  width: 210px;
  height: 300px;
  background-color: rgb(234, 224, 250);
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  position: relative;
}
.product-title{
  display: flex;
  justify-content: left;
}
.product-button{
  background-color: #57cfcf;
  border-radius: 5px;
  color:black;
  margin-top: 5px;
  position: absolute;
  bottom: 15px;
}

.button-pro{
  background-color: #57cdcd;
  border: none;
}

.button-pro:hover{
  background-color: #f2c1f3;
}

.product img{
  width: 100%;
  height: auto;
}

.header-category{
  font-weight: 600;
  line-height: 100%;
  margin-top: 15px;
  position: relative;
  text-align: center;
  text-transform: none;
  color: #999;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-category{
  font-size: 30px;
}

@media (max-width:768px){
  .box{
    background-color: rgb( 234, 224, 250);
  }
  .grid-container{
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr auto;
    grid-template-areas:  
      "header"
      "container"
      "footer";
  }

  .sidebar{
    display: none;
  }
  
}
@media (max-width:590px){
  .box{
    width: 330px;
    background-color: rgb( 234, 224, 250);
  }
}

