body {
  padding: 0;
  margin: 0;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 200px 1fr;
      grid-template-columns: 200px 1fr;
  -ms-grid-rows: 100px 1fr auto;
      grid-template-rows: 100px 1fr auto;
      grid-template-areas: "header header" "sidebar container" "footer footer";
  min-height: 100vh;
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
  background-color: #13a4a4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sidebar {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: sidebar;
  background-color: #eae0fa;
  z-index: 1;
}

.main-container {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: container;
}

.footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: footer;
  background-color: #1b2838;
  padding-top: 20px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

.icons {
  width: 70px;
}

.logo {
  height: 100%;
}

.box {
  width: 400px;
  height: 345px;
  background-color: #eae0fa;
  padding: 20px;
  margin: 30px;
  border-radius: 5px;
  border: solid 1px #fad8f3;
}

.box img {
  width: 100%;
  height: auto;
}

.inicial__boton {
  background-color: #13a4a4;
  border: none;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
}

.inicial__boton:hover {
  background-color: #fcfb9c;
}

.menu-container {
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu-container .menu {
  display: inline-block;
  position: relative;
  font-size: 14px;
  background-color: #13a4a4;
  padding: 5px;
  border-radius: 3px;
  margin: 5px;
}

.menu-container .menu:hover .sub-menu {
  display: block;
}

.menu-container .sub-menu {
  list-style: none;
  display: none;
  position: absolute;
  top: 0%;
  left: 100%;
  background-color: #fcfb9c;
}

.menu-container .sub-menu .sub-menu-item {
  font-size: 18px;
}

.menu-container a {
  color: white;
  text-decoration: none;
  text-align: center;
  display: block;
  font-size: 20px;
}

.product-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button-pro {
  background-color: #57cdcd;
  border: none;
}

.button-pro:hover {
  background-color: #fcfb9c;
}

.header-category {
  font-weight: 600;
  line-height: 100%;
  margin-top: 15px;
  position: relative;
  text-align: center;
  text-transform: none;
  color: #999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title-category {
  font-size: 30px;
}

.menu-burger {
  display: none;
}

@media (max-width: 768px) {
  .box {
    background-color: #eae0fa;
    margin: 30px 0;
  }
  .grid-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 100px 1fr auto;
        grid-template-rows: 100px 1fr auto;
        grid-template-areas: "header" "container" "footer";
  }
  .sidebar {
    display: none;
  }
  .menu-burger {
    display: block;
  }
  .header {
    -ms-flex-line-pack: justify;
        align-content: space-between;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 590px) {
  .box {
    width: 330px;
    background-color: #eae0fa;
  }
}
/*# sourceMappingURL=style.css.map */